body
{
	color:  #ff7f50;
	textalign: "center";
	font-family: "Courier";
}
#Cabecera
{
	background: #339;
	color: #ff7f50;
	padding: 0.5em;
}
#container
{
	width: 70%;
	padding:  1em;
	text-align: left; 
	border: 1px solid #000;
}